In [3]:
greenville = {'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}
print(greenville)

{'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}

In [4]:
friends = {'name': 'Friends', 'genre': 'sitcom', 'no_of_seasons': 10}
print(friends)

{'name': 'Friends', 'genre': 'sitcom', 'no_of_seasons': 10}

In [5]:
friends["name"]

'Friends'

In [6]:
friends["no_of_seasons"]

10

In [7]:
friends["no_of_seasons"]=325

In [8]:
friends

{'name': 'Friends', 'genre': 'sitcom', 'no_of_seasons': 325}

In [11]:
creators = ['David Crane', 'Marta Kauffman']
creators

['David Crane', 'Marta Kauffman']

In [14]:
friends['creators']= ['David Crane', 'Marta Kauffman']

In [16]:
friends

{'name': 'Friends',
 'genre': 'sitcom',
 'no_of_seasons': 325,
 'creators': ['David Crane', 'Marta Kauffman']}

In [17]:
seinfeld = {'name': 'Seinfeld', 'creators': ['Larry David', 'Jerry Seinfeld'], 'genre': 'sitcom', 'no_of_seasons': 10, 'no_of_episodes': 180}

In [18]:
seinfeld

{'name': 'Seinfeld',
 'creators': ['Larry David', 'Jerry Seinfeld'],
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 180}

In [24]:
tv_shows=[friends, seinfeld]
tv_shows

[{'name': 'Friends',
  'genre': 'sitcom',
  'no_of_seasons': 325,
  'creators': ['David Crane', 'Marta Kauffman']},
 {'name': 'Seinfeld',
  'creators': ['Larry David', 'Jerry Seinfeld'],
  'genre': 'sitcom',
  'no_of_seasons': 10,
  'no_of_episodes': 180}]

In [26]:
tv_shows[1]

{'name': 'Seinfeld',
 'creators': ['Larry David', 'Jerry Seinfeld'],
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 180}

In [29]:
tv_shows[0]

{'name': 'Friends',
 'genre': 'sitcom',
 'no_of_seasons': 325,
 'creators': ['David Crane', 'Marta Kauffman']}

In [31]:
greenville = {'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}
print(greenville)

{'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}

In [33]:
greenville['Area']

68

In [35]:
greenville_population =greenville['Population']
greenville_population

84554

In [36]:
greenville_area = greenville['Area']
greenville_area

68

In [40]:
city_keys = list(greenville.keys())
city_keys

['Area', 'City', 'Country', 'Population']

In [41]:
city_values=list(greenville.values())
city_values

[68, 'Greenville', 'USA', 84554]

In [50]:
import pandas as pd

df = pd.read_excel(r"C:\Users\Allan\Downloads\Capital_Cities.xls")

In [51]:
print(df.head)

<bound method NDFrame.head of     Unnamed: 0                 Unnamed: 1    Unnamed: 2  \
0        Index            Country or area  Country code
1            1                Afghanistan             4
2            2                    Albania             8
3            3                    Algeria            12
4            4             American Samoa            16
..         ...                        ...           ...
237        237  Wallis and Futuna Islands           876
238        238             Western Sahara           732
239        239                      Yemen           887
240        240                     Zambia           894
241        241                   Zimbabwe           716

                Unnamed: 3 Unnamed: 4  \
0             Capital City       Note
1                    Kabul        NaN
2          Tiranë (Tirana)        NaN
3    El Djazaïr  (Algiers)          1
4                Pago Pago        NaN
..                     ...        ...
237               Matu-Utu        NaN
238               El Aaiún        NaN
239                Sana'a'         85
240                 Lusaka        NaN
241                 Harare        NaN

    Population of Capital Cities in 2018 (thousands) Unnamed: 6  \
0                                       Capital Type  City code
1                                            Capital      20002
2                                            Capital      20005
3                                            Capital      20006
4                                            Capital      20047
..                                               ...        ...
237                                          Capital      23235
238                                          Capital      22571
239                                          Capital      23239
240                                          Capital      23277
241                                          Capital      22513

                 Unnamed: 7
0    Population (thousands)
1                   4011.77
2                   475.577
3                   2693.54
4                    48.526
..                      ...
237                   1.025
238                 232.388
239                 2779.32
240                 2523.84
241                 1515.02

[242 rows x 8 columns]>

In [61]:
df1["Country or area"]

NameError: name 'df1' is not defined

TypeError: 'DataFrame' object is not callable

In [63]:
#loops

countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
print(countries)

['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']

In [66]:
for index in [0,1,2,3,4,5,6]:
    print(index)
    print(countries[index])

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

In [67]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']

In [72]:
for index in [0,1,2,3,4,5,6]:
    print(cities[index]+ "  ",countries[index])

Zagreb   Croatia
District of Columbia   USA
Buenos Aires   Argentina
Paris   France
Rio de Janeiro   Brazil
Tokyo   Japan
Hanoi   Vietnam

In [73]:
example_dictionary = {'first_name': "Terrance", 'last_name': "KOAR", 'favorite_language': "Python"}
print(example_dictionary.items())
type(example_dictionary.items())

dict_items([('first_name', 'Terrance'), ('last_name', 'KOAR'), ('favorite_language', 'Python')])

dict_items

In [75]:
for key, value in example_dictionary.items():
    print("this is the key:", key)    
    print("this is the value:", value, "\n")

this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

In [76]:
stop_number = 4
while stop_number > 0:
    print(stop_number)
    stop_number -=1
print("The stop_number reached", stop_number, "so the while loop's condition became False and stopped execution")

4
3
2
1
The stop_number reached 0 so the while loop's condition became False and stopped execution

In [78]:
import numpy as np
random_num = np.random.randint(1,20)
while random_num > 0:
    random_num -= 1
    print(random_num)

18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [81]:
I=[1,2,3,4,5]
value=[x&1 for x in I]
print(value)

[1, 0, 1, 0, 1]

In [86]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [87]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [89]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.title()
    if key == "first_name":
        first_name = value
print(first_name, last_name)

Terrance Koar

In [90]:
for city in cities:
    print(cities[index])

Hanoi
Hanoi
Hanoi
Hanoi
Hanoi
Hanoi
Hanoi

In [91]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [93]:
print(len(thisdict))

3

In [94]:
if 5 >2:
    print("Five is greater than 2")

Five is greater than 2

In [95]:
# This is a comment
print("Hello World")

Hello World

In [96]:
#Variables

x = 5
y = 4

print(x,y)

5 4

In [98]:
x = 5
y = "Allan"

print(x)
print(y)
print(type(x))
print(type(y))

5
Allan
<class 'int'>
<class 'str'>

In [99]:
x,y,z = ("Allan", "Eric", "John")
print(x)
print(y)
print(z)

Allan
Eric
John

In [102]:
fruits = ("Banana", "Orange", "Mango", "Tomatoes")
w, x, y ,z = fruits

print(w)
print(x)
print(y)
print(z)

Banana
Orange
Mango
Tomatoes

In [103]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [105]:
x = 5
y = "John"
print(x , y)

5 John

In [107]:
#Global variable

x = "awesome"

def myfunc():
    print("python is" + x)
myfunc()

python isawesome

In [108]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [109]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [111]:
carname = "Volvo"
carname

'Volvo'

In [112]:
x = str("Hello World")
type(x)

str

In [113]:
x=20.5
type(x)

float

In [114]:
x = int(20.5)
type(x)

int

In [115]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [116]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [119]:
#random variables

import random

print(random.randrange(1,10))

7

In [121]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [125]:
a = "Hello, World!"
print(a[4])

o

In [127]:
#looping through a string

for x in "banana":
    print(x)

b
a
n
a
n
a

In [129]:
x = "Allan"
print(len(x))

5

In [136]:
txt = "The best things in life are free!"
if "free" in txt:
    print("yess,"free" is present")

SyntaxError: invalid syntax (<ipython-input-136-5f7bbcf84c09>, line 3)

In [137]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [138]:
b= "Hello World"
print(b[2:5])

llo

In [140]:
c= (1,2,4,6,8,9)
print(c[2:4])
print(c[-1])
print(c[-1:3])

(4, 6)
9
()

In [144]:
b="Hello world"
print(b.upper())

HELLO WORLD

In [148]:
x = "you are my son"
print(x.lower())

you are my son

In [150]:
print(x.replace("You", "Me"))

you are my son

In [151]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [152]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [153]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [154]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [155]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [158]:
txt = "We are the so-called \"Vikings"\ from the north."
txt

SyntaxError: unexpected character after line continuation character (<ipython-input-158-a41ee05fb694>, line 1)

In [159]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [160]:
print(6 & 3)

2

In [161]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [163]:
thislist[0]
thislist[2]

'cherry'

In [164]:
thislist.append("mango")
thislist

['apple', 'banana', 'cherry', 'mango']

In [165]:
thislist.pop()

'mango'

In [168]:
thislist.pop()

'cherry'

In [169]:
thislist

['apple', 'banana']

In [170]:
print(len(thislist))

2

In [171]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [176]:
list4= list1 + list2
list4

[1, 5, 7, 9, 3, 1, 5, 7, 9, 3]

In [177]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [178]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [179]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [181]:
thislist
thislist.insert(2, "Tomatoes")
thislist

['apple', 'blackcurrant', 'Tomatoes', 'watermelon', 'orange', 'kiwi', 'mango']

In [184]:
thislist.append("Potatoes")
print(thislist)

['apple', 'blackcurrant', 'Tomatoes', 'watermelon', 'orange', 'kiwi', 'mango', 'Potatoes', 'Potatoes']

In [187]:
thislist.insert(3,"asjka")
print(thislist)

['apple', 'blackcurrant', 'Tomatoes', 'asjka', 'asjka', 'asjka', 'watermelon', 'orange', 'kiwi', 'mango', 'Potatoes', 'Potatoes']

In [190]:
thislist.pop(4)

'asjka'

In [191]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [193]:
print(list1)
print(list2)
print(list3)

[1, 5, 7, 9, 3]
[1, 5, 7, 9, 3]
[True, False, False]

In [196]:
list1.extend(list3)
list1

[1, 5, 7, 9, 3, 1, 5, 7, 9, 3, True, False, False]

In [197]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [200]:
thislist
thislist.remove("cherry")
print(thislist)

['apple', 'banana', 'kiwi', 'orange']

In [201]:
thislist
thislist.pop(1)
print(thislist)

['apple', 'kiwi', 'orange']

In [204]:
del thislist[0]
thislist

['kiwi', 'orange']

In [210]:
#loops in list

thislist=["apple", "banana", "cherry"]
for x in thislist:
    print(x)
x

apple
banana
cherry

'cherry'

In [211]:
thislist=["apple", "banana", "cherry"]
for apple in thislist:
    print(apple)
apple

apple
banana
cherry

'cherry'

In [212]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [214]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(i)

0
1
2

In [215]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [216]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [217]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [220]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [221]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [223]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(0,"kiwi")
print(fruits)

['kiwi', 'apple', 'banana', 'cherry']

In [225]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [226]:
#tuples

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [227]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [229]:
thistuple
thistuple[1]

'banana'

In [230]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [232]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [233]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [234]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [235]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

In [236]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [237]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [238]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [239]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [245]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict["model"])

Mustang

In [249]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
x= thisdict.get("model")
print(x)

Mustang

In [254]:
x= thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [256]:
y=thisdict.values()
print(y)

dict_values(['Ford', 'Mustang', 1964])

In [259]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
y=thisdict.get("Ford")
print(y)

None

In [260]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [261]:
for x in thisdict:
  print(x)

brand
model
year
color

In [262]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964
red

In [263]:
for x in thisdict.keys():
  print(x)

brand
model
year
color

In [264]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964
color red

In [265]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [267]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [268]:
print(myfamily["child2"]["name"])

Tobias

In [269]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [270]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [271]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [272]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [273]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [274]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [275]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [276]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [277]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [278]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [279]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [280]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [282]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [283]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [284]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        break
    print(num)

# Output:
# 1
# 2
In this example, when the loop encounters the value 3, the break statement is triggered, and the loop is terminated immediately. The subsequent iteration is skipped, and the program continues executing after the loop.

The continue statement:

When encountered inside a loop, the continue statement skips the remaining code in the current iteration and moves on to the next iteration of the loop.

It allows you to bypass specific iterations without terminating the loop entirely.

Here's an example of using continue in a for loop:

python
Copy code
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        continue
    print(num)

# Output:
# 1
# 2
# 4
# 5
In this example, when the loop encounters the value 3, the continue statement is triggered. It skips the remaining code in that iteration and moves to the next iteration. As a result, the number 3 is not printed, but the loop continues with the remaining elements in the list.

Both break and continue statements provide control over the flow of loops in Python, allowing you to control when to terminate a loop prematurely or skip specific iterations.

SyntaxError: invalid syntax (<ipython-input-284-a07f7afd626d>, line 11)

In [285]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        continue
    print(num)

1
2
4
5

In [286]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        break
    print(num)

1
2

In [287]:
for i in list(range(0, 5)):
    if True:
        print(i)
        break
    print("I'll never get executed either")

0

In [288]:
for i in list(range(0, 5)):
    if True:
        print(i)
    print("Since we don't have a continue statement,\nI'll always get executed")

0
Since we don't have a continue statement,
I'll always get executed
1
Since we don't have a continue statement,
I'll always get executed
2
Since we don't have a continue statement,
I'll always get executed
3
Since we don't have a continue statement,
I'll always get executed
4
Since we don't have a continue statement,
I'll always get executed

In [289]:
for i in list(range(0, 5)):
    if True:
        print(i)
        continue
    print("I'll never get executed")

0
1
2
3
4

In [290]:
for i in list(range(0, 5)):
    if False:
        print(i)
        continue
    print("I'll never get executed")

I'll never get executed
I'll never get executed
I'll never get executed
I'll never get executed
I'll never get executed

In [291]:
numbers = list(range(0, 30))
new_list = []
for num in numbers:
    if len(new_list) > 4:
        print(f'We have enough even numbers in new_list ({len(new_list)}). break will stop the for loop now')
        break
    elif num % 2 == 0:
        new_list.append(num)
    elif num % 2 != 0:
        continue
        print('i never get executed')
    print(num, 'is even.')
    print('this does not print for odd numbers\nbecause the continue statement skips\nthe code that follows in the for loop\nand goes straight back to the next element in the for loop')

0 is even.
this does not print for odd numbers
because the continue statement skips
the code that follows in the for loop
and goes straight back to the next element in the for loop
2 is even.
this does not print for odd numbers
because the continue statement skips
the code that follows in the for loop
and goes straight back to the next element in the for loop
4 is even.
this does not print for odd numbers
because the continue statement skips
the code that follows in the for loop
and goes straight back to the next element in the for loop
6 is even.
this does not print for odd numbers
because the continue statement skips
the code that follows in the for loop
and goes straight back to the next element in the for loop
8 is even.
this does not print for odd numbers
because the continue statement skips
the code that follows in the for loop
and goes straight back to the next element in the for loop
We have enough even numbers in new_list (5). break will stop the for loop now

In [294]:
i=0
while 1 < 10:
    if i==5:
        print("Breaking out")
        break
    elif i % 2 == 0:
        print("This is an even number", i)
        i +=1 
        continue
    print(i)
    i += 1
else:
        print("Loop complete")

This is an even number 0
1
This is an even number 2
3
This is an even number 4
Breaking out

In [304]:
i = 0
while i < 6:
    i += 1
    if i ==3:
        continue
    print(i)

1
2
4
5
6

In [305]:
def square (number):
  return (number **2)

result = square(5)
result2 = square(7)
print(result)
print(result2)

25
49

In [307]:
def square (number, x =2):
  return (number ** x)

result = square(5)
result2 = square(7)
print(result)
print(result2)

25
49

In [315]:

x = int(input("Enter the first number"))
y = int(input ("Enter the second number"))



#Addiiton

sum1= x + y

#Multiplication

mult= x * y

#Division

div = x//y

print(sum1)
print(mult)
print(div)

Enter the first number5
Enter the second number10
15
50
0

In [317]:
def summation ():
    
    x = int(input("Enter the first number"))
    print(x)
    y = int(input ("Enter the second number"))
    print(y)
    
    #Addiiton
    sum1= x + y
    
    #Multiplication
    mult= x * y
    #Division
    div = x//y
    
    print(sum1)
    print(mult)
    print(div)
summation()

Enter the first number5
5
Enter the second number10
10
15
50
0

In [320]:
def print_squared_divisible_by_n(numbers):
    x = int(input(n))
    
    for i in x:
        print(x)
    if i =2

SyntaxError: invalid syntax (<ipython-input-320-b845933d7d6d>, line 6)

In [ ]:
Write a function named print_squared_divisible_by_n(numbers) that takes

Takes a user input of n
Creates a list of numbers that run from 1 to numbers.
The function should iterate over the numbers, square each number, and print the squared values that are divisible by n.

In [7]:
tup1= (1,2,3,4,5)
tup1
type(tup1)

tuple

In [ ]:
lisr=[1,2,3,34,]

In [327]:
def print_squared_divisible_by_n(numbers):
    # Take user input for n
    n = int(input("Enter a value for n: "))

    # Create a list of numbers from 1 to 'numbers'
    num_list = list(range(1, numbers + 1))

    # Iterate over the numbers, square each number, and print if divisible by n
    for num in num_list:
        squared_num = num ** 2
        if squared_num % n == 0:
            print(squared_num)
print_squared_divisible_by_n(10)

Enter a value for n: 10
100

In [332]:
def square(num):
    result = num ** 2
    return result

print(square(2))

4

In [347]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']

def number_of_destinations(travel_destinations):
    count = len(travel_destinations)
    return count
number_of_destinations()

TypeError: number_of_destinations() missing 1 required positional argument: 'travel_destinations'

In [346]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']

result = count_items(travel_destinations)
print(result)

NameError: name 'count_items' is not defined

In [353]:
capitalized_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def capitalize_countries():
    capitalized_list = []
    for country in capitalized_destinations:
        capitalized_list.append((country.capitalize))
    capitalize_countries

In [354]:
print(capitalize_countries)

<function capitalize_countries at 0x000001DBC8812700>

In [1]:
num = 2 + 3
num

5

In [2]:
#to check if a numbr is odd or even

number = int(input("Enter a number:"))
if number % 2 == 0:
    print("number is even")
    
else:
    print("number is odd")

Enter a number:3
number is odd

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [7]:
programmers =[
    {"name":"Rachel", "favourite_languages":["Ruby", "Javascipt", "SQL", "Java"]}
    {"name":"Daniel", "favourite_languages":["Javascript", "Elixer", "Python"]]

SyntaxError: invalid syntax (<ipython-input-7-6aa65ac8ff3c>, line 3)

In [8]:
programmers = [
    {"name": "Rachel", "favourite_languages": ["Ruby", "JavaScript", "SQL", "Java"]},
    {"name": "Daniel", "favourite_languages": ["JavaScript", "Elixir", "Python"]}
]

In [17]:
print(programmers)

[{'name': 'Rachel', 'favourite_languages': ['Ruby', 'JavaScript', 'SQL', 'Java']}, {'name': 'Daniel', 'favourite_languages': ['JavaScript', 'Elixir', 'Python']}]

In [21]:
for programmer in programmers:
    for key, value in programmer.items():
        print(key, value)

name Rachel
favourite_languages ['Ruby', 'JavaScript', 'SQL', 'Java']
name Daniel
favourite_languages ['JavaScript', 'Elixir', 'Python']

In [23]:
for programmer in programmers:
    for language in programmer["favourite_languages"]:
        print(language)

Ruby
JavaScript
SQL
Java
JavaScript
Elixir
Python

In [28]:
for programmer in programmers:
    for individual in programmer["name"]:
        print(individual)

R
a
c
h
e
l
D
a
n
i
e
l

In [29]:
for programmer in programmers:
    for individual in programmer["name"]:
        print(individual)

R
a
c
h
e
l
D
a
n
i
e
l

In [31]:
for programmer in programmers:
    for individual in programmer["name"]:
        print(individual)

R
a
c
h
e
l
D
a
n
i
e
l

['name']
['name']

In [36]:
for programmer in programmers:
    print(programmer["name"])

Rachel
Daniel

In [4]:
for n in [2, 7, -1, 5]:
    print("The number is {n} and its square is {n**2}")
print("I'm outside the loop!")

The number is {n} and its square is {n**2}
The number is {n} and its square is {n**2}
The number is {n} and its square is {n**2}
The number is {n} and its square is {n**2}
I'm outside the loop!

In [5]:
for n in [2, 7, -1, 5]:
    print(f"The number is {n} and its square is {n**2}")
print("I'm outside the loop!")

The number is 2 and its square is 4
The number is 7 and its square is 49
The number is -1 and its square is 1
The number is 5 and its square is 25
I'm outside the loop!